<div class="banner bg-warning">
  <div class="banner-icon p-20"><i class="icon icon-alert"></i></div>
  <div class="banner-message p-20">
    We will collect the standard output and standard error output for each container, the log files which under path<code> /var/log/containers/ </code>on each host. The log will be routed to the target you choosed below.
  </div>
</div>