{{#each newNotifiers as |notifier|}}
  {{alert/form-notifier-item disableRemove=disableRemove remove="remove" notifiers=notifiers model=notifier}}
{{/each}}

<div class="mt-15">
  <button class="btn bg-link icon-btn p-0" {{action "add"}}>
    <span class="darken"><i class="icon icon-plus text-small"/></span>
    <span>Add Notifier</span>
  </button>
</div>
