.logging-targets {
  .none {
    background-image: url('images/providers/none.svg');
    background-size: 120px 70px;
  }
  .elasticsearch {
    background-image: url('images/providers/elasticsearch.svg');
    background-size: 60px 60px;
    background-position: center 30%!important;
  }
  .splunk {
    background-image: url('images/providers/splunk.svg');
    background-size: 150px 80px;
  }
  .embedded {
    background-image: url('images/logos/main.svg');
    background-size: 110px 70px;
    background-position: center 30%!important;
  }
  .kafka {
    background-image: url('images/providers/kafka.svg');
    background-size: 120px 80px;
  }
  .syslog {
    background-image: url('images/providers/syslog.png');
    background-size: 150px 120px;
  }
}

.notifier-types {
  .slack {
    background-image: url('images/providers/slack.svg');
    background-size: 60px 60px;
  }
  .email {
    background-image: url('images/providers/email.svg');
    background-size: 80px 80px;
  }
  .pagerduty {
    background-image: url('images/providers/pagerduty.svg');
    background-size: 100px 100px;
  }
  .webhook {
    background-image: url('images/providers/webhook.svg');
    background-size: 65px 65px;
  }
}

.nav-boxes {
  &.checked-current .current:after {
    content          : $icon-check;
    top              : -15px;
    right            : -15px;
    font-family      : 'rancher-icons';
    font-size        : 18px;
    position         : absolute;
    background-color : $info;
    height           : 29px;
    width            : 29px;
    line-height      : 30px;
    border-radius    : 50%;
    color            : white;
  }
}
