<div class="input-group">
  {{input-integer
      class="form-control"
      min=1
      value=value
      class="form-control"
      placeholder="e.g. 3"
      aria-describedby="basic-addon2"
  }}
  <div {{action 'dec'}} style="margin-right:2px!important" class="input-group-addon bg-primary"><i class="icon icon-minus"></i></div>
  <div {{action 'inc'}} class="input-group-addon bg-primary"><i class="icon icon-plus"></i></div>
</div>