<section class="header clearfix">
  <div class="pull-left"><h1>{{if isCreate (t 'alertPage.new.addHeader') (t 'alertPage.new.editHeader')}}</h1></div>
</section>

{{alert/new-edit
    workloads=model.workloads
    pods=model.pods
    targetId=null
    isCreate=isCreate
}}