<div class="new-box-header {{if detail 'p-10' ' '}} box">
  <div class="title">
    <span class="m-0">{{title}}</span>
    <p class="help-block">{{detail}}</p>
  </div>
</div>

<div class="new-box-content">
  {{yield}}
</div>